.footer {
    background-color: $dark;
    // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    &__container {
        align-items: center;
        justify-content: space-between;
    }

    &__nav-side {
        align-items: center;
    }

    &__nav-list {
        list-style-type: none;

        a {
            font-family: 'Space Mono';
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
            margin: 16px;
            display: inline-block;
    
            &:hover {
                color: $yellow;
            }
        }
    }

    &__smedia {

        &__list {
            list-style-type: none;
        }

        &__item {
            margin: 0 12px;

            &:first-child {
                margin-left: 0;
            }
        }

        &__link {
            &:hover svg {
                fill: $light-grey;
            }
        }
    }
}