.site-header {
    position: fixed;
    width: 100%;
}

.header__container {
    align-items: center;
    justify-content: space-between;
    // background-color: $yellow;
}

.nav-wrapper {
    align-items: center;
}

.header__img {
    margin-right: 58.18px;
}

.header__nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    a {
        font-family: 'Space Mono';
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin: 16px;
        display: inline-block;
    }
}

.header__btn {
    @include button_normal

    &:hover {
        @include button_hover
    }
}

