.hero__container {
    background-image: url(./../images/hero_img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 650px;
    margin-bottom: 160px;
}



.hero-wrapper {
    padding-top: 153px;
    padding-bottom: 152px;
}

.hero__heading {
    max-width: 500px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.hero__text {
    position: relative;
    max-width: 405px;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 95px;

    &::before {
        content: "";
        width: 1000%;
        height: 15px;
        position: absolute;
        left: -1014%;
        top: 50%;
        display: block;
        background-color: $yellow;
    }

    &::after {
        content: url(./../../images/hero_img/img2.svg);
        // width: 1000%;
        // height: 15px;
        position: absolute;
        left: 107%;
        top: 49%;
        display: block;
        background-image: url(./../../images/hero_img/img2.svg);
        background-repeat: no-repeat;
    }
}

.hero__btn {
    margin-left: 95px;
}

@media only screen and (max-width:768px) {
    .hero__container {
        display: flex;
        justify-content: center;
        text-align: center;
        z-index: 5;
    }

    .hero-wrapper {
        padding: 137px 98px 217px 97px;
    }

    .hero__btn {
        margin-left: 0;
    }

    .hero__text::before {
        display: none;
    }

    .hero__heading {
        margin: 0;
        margin-bottom: 24px;
    }

    .hero__text {
        margin: 0;
        margin-bottom: 46px;
        max-width: 573px;
    }

    .hero__text::after {
        left: -67%;
        // bottom: -149%;
        transform: translateY(60%);
    }
}