@mixin button_normal {
    background-color: #FCB72B;
    padding: 14px 47px;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

@mixin button_hover {
    background-color: #fff;
    border: 1px solid #FCB72B;   
    color: #FCB72B;
}