.short {

    margin-bottom: 200px;

    &__list {
        list-style-type: none;
    }

    &__item {
        margin: 0 15px;

        &:first-child {
            margin-left: 0;
        }
    }

    .img-wrapper {
        position: relative;
    }

    &__img {
        display: block;
        position: relative; 
        z-index: 9;
        margin-bottom: 40px;    
    }

    &__line {
        position: absolute;
        top: 47%;
        right: 95%;
        display: block;
        width: 100%;
        height: 15px;
        background-color: $light-grey;
    }

    &__heading {
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: $dark-navy;
        margin-bottom: 27px;
    }

    &__text {
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
        max-width: 350px;
    }
}

@media only screen and (max-width:768px) {

    .short__list {
        flex-direction: column;
        margin-bottom: 145px;
    }

    .short__item {
        display: flex;
        margin: 0;
    }

    .short__img {
        margin-right: 79px;
    }

    .short__text {
        margin-bottom: 40px;
    }

    .short__line {
        transform: translateY(-110%);
        right: 67%;
        width: 15px;
        height: 117.5%;
        overflow: hidden;
    }
}
